In [56]:
#Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [57]:
#import json into data frame
purchase_data_df = pd.read_json("purchase_data.json")
purchase_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [58]:
#Player Count: Count the total number of players by grouping the unique SN's
players_df = purchase_data_df.groupby("SN")["SN"].nunique()
number_of_players = players_df.count() 
number_of_players

573

In [59]:
#display number of players in dataframe 
players_df = pd.DataFrame([{ "Number of Players": number_of_players}])
players_df

   Number of Players
0                573

In [60]:
# Purchasing Analysis (Total)

# Number of Unique Items
# Average Purchase Price
# Total Number of Purchases
# Total Revenue

In [61]:
#Number of Unique Items
dropping_duplicates = purchase_data_df.drop_duplicates(['Item ID'], keep = 'last')

#Counts items by unique ID
total_unique = len(dropping_duplicates)
total_unique

183

In [62]:
#Average Purchase Price: mean of all purchases
average_price_df = purchase_data_df ["Price"].mean()
round(average_price_df, 2)

2.93

In [63]:
#Total Number of Purchases: count of all purchases
total_purchases_df = purchase_data_df["Price"].count()
total_purchases_df

780

In [64]:
#Total Revenue: sum of all purchases
total_revenue_df = purchase_data_df["Price"].sum()
round(total_revenue_df, 2)

2286.33

In [65]:
#Display in data frame
purchasing_analysis_df = pd.DataFrame({ "Number of Unique Items":[total_unique],
                                        "Average Purchase Price":[round(average_price_df, 2)],
                                        "Total Number of Purchases":[total_purchases_df],
                                        "Total Revenue":[total_revenue_df]})
purchasing_analysis_df

,Average Purchase Price,Number of Unique Items,Total Number of Purchases,Total Revenue
0,2.93,183,780,2286.33

In [66]:
# Gender Demographics

# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

In [67]:
#Drop duplicate players names 
no_duplicate_players = purchase_data_df.drop_duplicates(['SN'], keep ='last')

#Overview of gender values 
gender_counts = no_duplicate_players['Gender'].value_counts().reset_index()

gender_counts

                   index  Gender
0                   Male     465
1                 Female     100
2  Other / Non-Disclosed       8

In [68]:
#Count of Male Players
male_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Male",:]
male_count = len(male_df["SN"].unique())

male_count

# Percentage of Male players
male_data_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Male"]
percent_male = round((len(male_data_df)/len(purchase_data_df)) * 100, 2)

percent_male

81.15

In [69]:
#Count of Female Players
female_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Female",:]
female_count = len(female_df["SN"].unique())

female_count

# Percentage of Female Players
female_data_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Female"]
percent_female = round((len(female_data_df)/len(purchase_data_df)) * 100, 2)

percent_female

17.44

In [70]:
#Count of Other / Non-Disclosed

others_data_df = purchase_data_df.loc[purchase_data_df["Gender"]=="Other / Non-Disclosed",:]
others_count = len(others_data_df["SN"].unique())

others_count

# Percentage of Other / Non-Disclosed
others_data_df = purchase_data_df.loc[purchase_data_df["Gender"] == "Other / Non-Disclosed"]
percent_others = round((len(others_data_df)/len(purchase_data_df)) * 100, 2)

percent_others

1.41

In [71]:
#Creating a total gender dataframe of counts and percentages
gender_demo_dict = {"Percentage Of Players":[percent_male, percent_female, percent_others],
                    "Gender":["Male","Female","Other/Non-Disclosed"],"Total Count":[male_count, female_count, others_count]}
gender_demo_df = pd.DataFrame(gender_demo_dict)
gender_demo_df = gender_demo_df.set_index("Gender")
gender_demo_df

                     Percentage Of Players  Total Count
Gender
Male                                 81.15          465
Female                               17.44          100
Other/Non-Disclosed                   1.41            8

In [72]:
# Purchasing Analysis (Gender)

# The below each broken by gender
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Normalized Totals

In [73]:
# Purchase Count of Males, Females, and Others/ Non-disclosed
male_purchase = len (male_data_df)
female_purchase = len (female_data_df)
others_purchase = len (others_data_df)

In [74]:
# Average Purchase Price of Males, Females, and Others/ Non-disclosed
average_price_male =round((male_data_df["Price"].sum())/len(male_data_df["Price"]),2)
average_price_female =round((female_data_df["Price"].sum())/len(female_data_df["Price"]),2)
average_price_others = round((others_data_df["Price"].sum())/len(others_data_df["Price"]),2)

In [75]:
# Total Purchase Value of Males, Females, and Others/ Non-disclosed
total_value_male = round(male_data_df["Price"].sum(),2)
total_value_female = round(female_data_df["Price"].sum(),2)
total_value_others = round(others_data_df["Price"].sum(),2)

In [76]:
# Normalized Totals of Males, Females, and Others/ Non-disclosed
normalized_male = round((total_value_male/male_count), 2)
normalized_female = round((total_value_female/female_count), 2)
normalized_others = round((total_value_others/others_count), 2)

In [77]:
#Creating a total purchasing analysis (gender) dataframe

purchasing_gender = {"Purchase Count":[male_purchase,female_purchase,others_purchase],
                     "Gender":["Male","Female","Other/Non-Disclosed"],
                     "Average Purchase Price":[average_price_male,average_price_female,average_price_others],
                     "Total Purchase Value":[total_value_male,total_value_female,total_value_others ],
                     "Normalised Totals":[normalized_male,normalized_female,normalized_others ]}
purchasing_gender_df = pd.DataFrame(purchasing_gender)
purchasing_gender_df = purchasing_gender_df.set_index("Gender")
purchasing_gender_df

,Average Purchase Price,Normalised Totals,Purchase Count,Total Purchase Value
Gender,,,,
Male,2.95,4.02,633,1867.68
Female,2.82,3.83,136,382.91
Other/Non-Disclosed,3.25,4.47,11,35.74

In [78]:
# Age Demographics

# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Normalized Totals

In [79]:
# Find max and min of age column for bins to be created
max_age = purchase_data_df["Age"].max()
max_age

min_age = purchase_data_df["Age"].min()
min_age

#Create the bins
age_bins = [0, 10, 14, 19, 24, 29, 34, 39, 50]
age_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data_df["Ages"] = pd.cut(purchase_data_df["Age"], age_bins, labels= age_labels)

In [80]:
# Count of players and percentage of players in each of the 8 bins created
bin1_df = purchase_data_df.loc[purchase_data_df["Ages"]=="<10",:]
player_count_bin1 = len(bin1_df["SN"].unique())
percent_bin1 = (player_count_bin1/number_of_players)* 100

bin2_df = purchase_data_df.loc[purchase_data_df["Ages"]=="10-14",:]
player_count_bin2 = len(bin2_df["SN"].unique())
percent_bin2 = (player_count_bin2/number_of_players)* 100

bin3_df = purchase_data_df.loc[purchase_data_df["Ages"]=="15-19",:]
player_count_bin3 = len(bin3_df["SN"].unique())
percent_bin3 = (player_count_bin3/number_of_players)* 100

bin4_df = purchase_data_df.loc[purchase_data_df["Ages"]=="20-24",:]
player_count_bin4 = len(bin4_df["SN"].unique())
percent_bin4 = (player_count_bin4/number_of_players)* 100

bin5_df = purchase_data_df.loc[purchase_data_df["Ages"]=="25-29",:]
player_count_bin5 = len(bin5_df["SN"].unique())
percent_bin5 = (player_count_bin5/number_of_players)* 100

bin6_df = purchase_data_df.loc[purchase_data_df["Ages"]=="30-34",:]
player_count_bin6 = len(bin6_df["SN"].unique())
percent_bin6 = (player_count_bin6/number_of_players)* 100

bin7_df = purchase_data_df.loc[purchase_data_df["Ages"]=="35-39",:]
player_count_bin7 = len(bin7_df["SN"].unique())
percent_bin7 = (player_count_bin7/number_of_players)* 100

bin8_df = purchase_data_df.loc[purchase_data_df["Ages"]=="40+",:]
player_count_bin8 = len(bin8_df["SN"].unique())
percent_bin8 = (player_count_bin8/number_of_players)* 100


player_count_bins=[player_count_bin1,
                   player_count_bin2,
                   player_count_bin3,
                   player_count_bin4,
                   player_count_bin5,
                   player_count_bin6,
                   player_count_bin7,
                   player_count_bin8]

percent_bins = [percent_bin1,
                percent_bin2,
                percent_bin3,
                percent_bin4,
                percent_bin5,
                percent_bin6,
                percent_bin7,
                percent_bin8]

percent_bins = [round (x,2) for x in percent_bins]

In [81]:
# Create a dictionary for age demographics
age_demographic_dict = {"Ages": age_labels,
                        "Total Player Count": player_count_bins,
                        "Percentage Of Players": percent_bins}

# Create a dataframe for Age Demographics
age_demographic_df = pd.DataFrame(age_demographic_dict)
age_demographic_df = age_demographic_df.set_index("Ages")
age_demographic_df

       Percentage Of Players  Total Player Count
Ages
<10                     3.84                  22
10-14                   3.49                  20
15-19                  17.45                 100
20-24                  45.20                 259
25-29                  15.18                  87
30-34                   8.20                  47
35-39                   4.71                  27
40+                     1.92                  11

In [82]:
# Top Spenders: Identify the the top 5 spenders in the game by total purchase value, then list (in a table)

In [83]:
# SN grouping for unique spenders
SN_spenders = purchase_data_df.groupby(purchase_data_df["SN"])
spenders_list = SN_spenders["SN"].unique()

In [84]:
# Purchase Count
num_purchase_by_SN = SN_spenders["Age"].count()
num_purchase_by_SN

SN
Adairialis76       1
Aduephos78         3
Aeduera68          3
Aela49             1
Aela59             1
Aelalis34          2
Aelin32            1
Aeliriam77         2
Aeliriarin93       1
Aeliru63           2
Aellyria80         1
Aellyrialis39      1
Aellysup38         1
Aelollo59          1
Aenarap34          1
Aenasu69           1
Aeral43            1
Aeral85            1
Aeral97            1
Aeri84             2
Aerillorin70       1
Aerithllora36      3
Aerithnucal56      2
Aerithnuphos61     1
Aerithriaphos45    1
Aesty51            1
Aesur96            1
Aethe80            1
Aethedru70         1
Aidain51           2
                  ..
Undjaskla97        1
Undjasksya56       1
Undotesta33        1
Wailin72           1
Whaestysu86        1
Yadacal26          1
Yadaisuir65        2
Yadanun74          3
Yalaeria91         1
Yaliru88           1
Yalo71             1
Yalostiphos68      1
Yaralnura48        2
Yararmol43         1
Yarirarn35         1
Yaristi64          1
Yarithllodeu72     1
Yarithphos28       1
Yarithsurgue62     2
Yarmol79           1
Yarolwen77         2
Yasriphos60        3
Yasrisu92          1
Yasur35            1
Yasur85            1
Yasurra52          1
Yathecal72         2
Yathecal82         1
Zhisrisu83         2
Zontibe81          1
Name: Age, Length: 573, dtype: int64

In [85]:
# Average Purchase Price
avg_purchase_by_SN = round(SN_spenders["Price"].mean(),2)
avg_purchase_by_SN

SN
Adairialis76       2.46
Aduephos78         2.23
Aeduera68          1.93
Aela49             2.46
Aela59             1.27
Aelalis34          2.53
Aelin32            3.14
Aeliriam77         3.36
Aeliriarin93       2.04
Aeliru63           4.49
Aellyria80         4.32
Aellyrialis39      3.15
Aellysup38         3.61
Aelollo59          1.55
Aenarap34          1.65
Aenasu69           3.27
Aeral43            2.72
Aeral85            4.25
Aeral97            2.35
Aeri84             3.30
Aerillorin70       1.88
Aerithllora36      3.48
Aerithnucal56      1.59
Aerithnuphos61     1.69
Aerithriaphos45    2.38
Aesty51            1.82
Aesur96            4.66
Aethe80            2.32
Aethedru70         2.97
Aidain51           3.42
                   ...
Undjaskla97        4.57
Undjasksya56       4.53
Undotesta33        3.90
Wailin72           2.04
Whaestysu86        4.08
Yadacal26          1.93
Yadaisuir65        4.28
Yadanun74          3.03
Yalaeria91         1.88
Yaliru88           3.71
Yalo71             2.41
Yalostiphos68      2.37
Yaralnura48        2.10
Yararmol43         1.55
Yarirarn35         2.88
Yaristi64          1.24
Yarithllodeu72     2.19
Yarithphos28       2.35
Yarithsurgue62     2.41
Yarmol79           2.91
Yarolwen77         3.49
Yasriphos60        3.47
Yasrisu92          2.60
Yasur35            2.78
Yasur85            2.04
Yasurra52          3.14
Yathecal72         3.88
Yathecal82         2.41
Zhisrisu83         1.23
Zontibe81          3.71
Name: Price, Length: 573, dtype: float64

In [86]:
# Total Purchase Value
total_purchase_by_SN = SN_spenders["Price"].sum()
total_purchase_by_SN

SN
Adairialis76        2.46
Aduephos78          6.70
Aeduera68           5.80
Aela49              2.46
Aela59              1.27
Aelalis34           5.06
Aelin32             3.14
Aeliriam77          6.72
Aeliriarin93        2.04
Aeliru63            8.98
Aellyria80          4.32
Aellyrialis39       3.15
Aellysup38          3.61
Aelollo59           1.55
Aenarap34           1.65
Aenasu69            3.27
Aeral43             2.72
Aeral85             4.25
Aeral97             2.35
Aeri84              6.60
Aerillorin70        1.88
Aerithllora36      10.45
Aerithnucal56       3.18
Aerithnuphos61      1.69
Aerithriaphos45     2.38
Aesty51             1.82
Aesur96             4.66
Aethe80             2.32
Aethedru70          2.97
Aidain51            6.84
                   ...
Undjaskla97         4.57
Undjasksya56        4.53
Undotesta33         3.90
Wailin72            2.04
Whaestysu86         4.08
Yadacal26           1.93
Yadaisuir65         8.56
Yadanun74           9.09
Yalaeria91          1.88
Yaliru88            3.71
Yalo71              2.41
Yalostiphos68       2.37
Yaralnura48         4.19
Yararmol43          1.55
Yarirarn35          2.88
Yaristi64           1.24
Yarithllodeu72      2.19
Yarithphos28        2.35
Yarithsurgue62      4.81
Yarmol79            2.91
Yarolwen77          6.98
Yasriphos60        10.40
Yasrisu92           2.60
Yasur35             2.78
Yasur85             2.04
Yasurra52           3.14
Yathecal72          7.77
Yathecal82          2.41
Zhisrisu83          2.46
Zontibe81           3.71
Name: Price, Length: 573, dtype: float64

In [87]:
# Creating a dictionary of top spenders
top_spenders_dict = {"SN": spenders_list,
                     "Purchase Count": num_purchase_by_SN ,
                     "Average Purchase Price":avg_purchase_by_SN ,
                     "Total Purchase Value":total_purchase_by_SN}

#Create a dataframe 
top_spenders_df = pd.DataFrame(top_spenders_dict)
top_spenders_df = top_spenders_df.set_index("SN")
top_spenders_df = top_spenders_df.sort_values("Total Purchase Value",ascending=False)

#Displays the top 5 spenders by SN 
top_spenders_df.head()

               Average Purchase Price  Purchase Count  Total Purchase Value
SN
[Undirrala66]                    3.41               5                 17.06
[Saedue76]                       3.39               4                 13.56
[Mindimnya67]                    3.18               4                 12.74
[Haellysu29]                     4.24               3                 12.73
[Eoda93]                         3.86               3                 11.58